body {
  text-align: center;
  background-color: #283149;
  /* font-family: "Arvo", cursive; */
}
h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}
footer p{
  font-size: 1.4rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 1px 0 #da0463;
  font-weight: 900;
}
.drum {
  font-family: "Arvo",cursive;
  font-size: 5rem;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #dbedf3;
  text-align: center;
  margin: 10px;
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  line-height: 2;
  border: 10px solid #404B69;
}
footer {
  color: #DBEDF3;
  font-family: sans-serif;
}
.set {
  margin: 10% auto;
}
.w {
  background: url(images/tom1.png);
  object-fit: cover;
}
.a {
  background: url(images/tom2.png);
  object-fit: cover;
}
.s {
  background: url(images/tom3.png);
  object-fit: cover;
}
.d {
  background: url(images/tom4.png);
  object-fit: cover;
}
.j {
  background: url(images/snare.png);
  object-fit: cover;
}
.k {
  background: url(images/crash.png);
  object-fit: cover;
}
.l {
  background: url(images/kick.png);
  object-fit: cover;
}
.pressed {
   box-shadow: 0 3px 4px 0 #DBEDF3;
   opacity: 0.5;
}